<div class="input-group">
    <span class="input-group-btn">
        <button 
            [ngClass]="bntClass"
            (click) = "cambiarValor(-5)"
            type="button">
            <a class="fa fa-minus"></a>
        </button>
    </span>
    <input 
        type="number"
        [(ngModel)]="progreso"
        (ngModelChange)="onChange($event)"
        [ngClass]="{'is-invalid': progreso > 100 || progreso < 0}"
        class="form-control"
        placeholder="Progress">
    <span class="input-group-btn">
        <button 
            [ngClass]="bntClass"
            (click) = "cambiarValor(+5)"
            type="button">
            <a class="fa fa-plus"></a>
        </button>
    </span>
</div>